@model cadastro_materia_prima.Models.Materia

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Matéria-prima</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorEnergetico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorEnergetico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carboidratos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carboidratos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcucaresTotais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcucaresTotais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcucaresAdicionados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcucaresAdicionados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proteinas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proteinas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GordurasTotais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GordurasTotais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GordurasSaturadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GordurasSaturadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GordurasTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GordurasTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FibraAlimentar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FibraAlimentar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sodio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sodio)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    
</div>
